<md-toolbar>
  <button *ngIf="showSidebarButton" md-icon-button type="button" (click)="openSideBar()"><i class="fa fa-bars fa-lg" aria-hidden="true"></i></button>
  {{title}}
  <span class="fill-remaining-space"></span>
    
    <form>
      <span *ngIf="!auth.authenticated">
        <a md-button (click)="login()">Σύνδεση...</a>
      </span>
      <span *ngIf="auth.authenticated" >
        <a md-button href="#" (click)="logout()">
          {{auth?.displayName}}
          <img src="{{auth?.photoURL}}" class="img-circle photo">
        </a>
      </span>
    </form>
</md-toolbar>