<nav class="navbar navbar-light bg-faded">
  <div id="navbar-header">
    <a class="navbar-brand" href="#">{{title}}</a>
    <ul class="nav navbar-nav">
      <!--<li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Pricing</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>-->
    </ul>
    <form class="form-inline pull-xs-right">
      <span *ngIf="!auth.authenticated">
        <a class="navbar-link" href="#" (click)="login()">Σύνδεση...</a>
      </span>
      <span *ngIf="auth.authenticated" >
        <a class="navbar-link" href="#" (click)="logout()">
          {{auth?.displayName}}
          <img src="{{auth?.photoURL}}" class="img-circle photo">
        </a>
      </span>
    </form>
  </div>
</nav> <!-- /navbar -->
