<md-toolbar>
	<button md-icon-button disabled></button> Αρχείο Ασθενών
</md-toolbar>
<md-card>
	<form #form="ngForm" (ngSubmit)="loginWithPassword()">
		<md-input type="email" [(ngModel)]="username" placeholder="eMail Χρήστη" name="username" #usernameModel="ngModel" required
			validateEmail>
			<md-input-icon md-suffix [model]="usernameModel"></md-input-icon>
		</md-input>
		<md-input type="password" [(ngModel)]="password" placeholder="Κωδικός" name="password" #passwordModel="ngModel" required>
			<md-input-icon md-suffix [model]="passwordModel"></md-input-icon>
		</md-input>
		<button md-raised-button color="primary" type="submit" [disabled]="!(form.valid)"><i class="fa fa-sign-in" aria-hidden="true"></i> Σύνδεση</button>
	</form>
	<div><button md-button type="button" [disabled]="!usernameModel.valid" (click)="resetPassword()">Ξέχασα τον κωδικό μου...</button></div>
	<div>
		<a md-raised-button routerLink="/register"><i class="fa fa-user-plus" aria-hidden="true"></i> Εγγραφή νέου χρήστη...</a>
		<button md-raised-button type="button" (click)="loginWithGoogle()"><img src="../assets/auth_service_google.svg" /> Σύνδεση μέσω Google...</button>
	</div>
</md-card>