<md-toolbar>
	<button md-icon-button routerLink="/login">
		<i class="fa fa-arrow-left fa-lg" aria-hidden="true"></i>
	</button> Αρχείο Ασθενών
</md-toolbar>
<md-card>
	<md-card-title>Αλλαγή Κωδικού</md-card-title>
	<md-card-content>
		<p>Παρακαλώ ελέγξτε το eMail σας για το μήνυμα αλλαγής κωδικού.</p>
		<p>Εάν δεν λάβετε τέτοιο μήνυμα, επαληθεύστε ότι το eMail που δώσατε είναι σωστά γραμμένο και ότι το μήνυμα της υπηρεσίας
			δεν βρίσκεται στον φάκελο με την ανεπιθύμητη αλληλογραφία (spam).</p>
	</md-card-content>
	<md-card-actions>
		<a md-raised-button routerLink="/login">OK</a>
	</md-card-actions>
</md-card>