.fill-remaining-space {
  flex: 1 1 auto;
}

#editButton {
  position: fixed;
  bottom: 5rem;
  right: 5rem;
  z-index: 999999;
  background-color: #a94442;
}

#details-view-container {
  position: fixed;
  top: 64px;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: auto;
}