.fill-remaining-space {
  flex: 1 1 auto;
}

#edit {
  position: fixed;
  bottom: 10%;
  right: 10%;
  z-index: 999999;
}

#details-view-container {
  position: fixed;
  top: 64px;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: auto;
}