/* You can add global styles to this file, and also import other style files */
@import '../node_modules/font-awesome/css/font-awesome.css';
@import '../node_modules/@angular2-material/core/overlay/overlay.css';
html, body {
  height: 100%;
  margin: 0;
}

/*ckeditor.ng-pristine:not(form)>.cke {
  border-right: 5px solid #42A948;
}*/

ckeditor.ng-dirty:not(form)>.cke {
  border-right: 5px solid #a9a942;
}

ckeditor.ng-invalid:not(form)>.cke {
  border-right: 5px solid #a94442;
}
